#bodyContainer{
	display:table;
	width:100%;
	height:100%;
}
#gameHeader{	
	font-family:Helvetica,sans-serif;
	font-size:20px;
	color:#555555;
	width:178;
	margin:0 auto;
	text-align:justify;
	border:2px solid #DDDDDD;
	border-radius:5px;
	padding:10px;
}
#answerBlock{
	vertical-align:middle;
	padding-top:30px;
	border:1px solid #DDDDDD;
	border-radius: 5px;
	margin:5px auto;
	height:50px;
	width: 300px;
	background-color:#EEEEEE;
	font-family:Helvetica,sans-serif;
	font-size:16px;
	text-align:center;
	color:#555555;
}
#rangeBlock{
	width: 300px;
	margin:5px auto;
	text-align:center;
	padding:10px;

	font-family: Helvetica,sans-serif;
	font-size: 14px;
	border:2px solid #DDDDDD;
	border-radius:5px;

}
#guessNumberBlock{
	width: 300px;
	margin:5px auto;
	text-align:center;
	padding:10px;

	font-family: Helvetica,sans-serif;
	font-size: 14px;
	border:2px solid #DDDDDD;
	border-radius:5px;

}
#guessContainer{
	margin:0 auto;
	width:181px;
}

#buttonHolder{
	margin: 0 auto;
	width:235px;
	height: 30px;
}

#rangeBar{
	margin: 0 auto;
	width:111px;
}

#guessInput{
	margin:2px 0;
}

input{
	border-radius:2px;	
	border:1px solid #DDDDDD;
	padding:2px 4px;
}

.rangeInput{
	margin:2px 0;
}

.button{
	border:1px solid #999999;
	padding: 5px 10px;
	margin: 2px;
	float:left;
	font-family:Helvetica,sans-serif;
	font-size:12px;	
	cursor:pointer;
	border-radius:2px;
	color:#555555;
}


